<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bid-Dash</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage/css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="container">

        <div id="navigation">
            <a href="/login"><img class="icon2" src="{% static 'homepage/images/login.png' %}" />Login</a>
            <a href="/signup"><img class="icon2" src="{% static 'homepage/images/padlock.png' %}" />Signup</a>
            <!-- <button id="log_btn">Login</button> -->
            <!-- <button id="reg_btn">Register</button> -->
        </div>

        <div id="mid-content">
            <img id="logo" src="{% static 'dashboard/images/logo2.png' %}">
            <p>The World's Best Bidding Website. Get Biddin and Get Smashin!</p>
            <form action="/search" method="GET">
                <img class="icons" src="{% static 'homepage/images/edit.png' %}">
                <input type="text" name="searchbox" class="search" placeholder="Enter what you are looking for">
                <img class="icons" src="{% static 'homepage/images/world.png' %}">
                <input type="text" name="location" class="search" placeholder="Please enter your location">
                <input  class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>

        <!-- START ICON CATEGOREIS -->
        <div id="categories">

            <div class="category_block">
                <a href="/dashboard/cat/3"><img class="cat_img" src="{% static 'homepage/images/data.png' %}"><br>
                    <label>IT/Coding</label>
                </a>
            </div>

            <div class="category_block">
                <a href="/dashboard/cat/1"><img class="cat_img" src="{% static 'homepage/images/car.png' %}"><br>
                    <label>Automotive</label>
                </a>
            </div>

            <div class="category_block">
                <a href="/dashboard/cat/2"><img class="cat_img" src="{% static 'homepage/images/house.png' %}"><br>
                    <label>House</label>
                </a>
            </div>

            <div class="category_block">
                <a href="/dashboard/cat/5"><img class="cat_img" src="{% static 'homepage/images/dog.png' %}"><br>
                    <label>Pets</label>
                </a>
            </div>

            <div class="category_block">
                <a href="/dashboard/cat/6"><img class="cat_img" src="{% static 'homepage/images/camera.png' %}"><br>
                    <label>Photography</label>
                </a>
            </div>

            <div class="category_block">
                <a href="/dashboard/cat/4"><img class="cat_img" src="{% static 'homepage/images/summer.png' %}"><br>
                    <label>Misc.</label>
                </a>
            </div>

        </div>
        <!-- END CATEGORIES -->

        <!-- <img class="undraw" src="{% static 'homepage/images/sitting.png' %}" /> -->
    </div>
</body>

</html>