<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bid Dash - Profile</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    
    </head>
    <body>
        <div id="container">

            <div id="navigation">
                <h4 class="head-title">Welcome, {{user.first_name}} {{user.last_name}}</h4>
                <a class="logout" href="/logout"><img class="icon2" src="{% static 'users/images/logout.png' %}" />Logout</a>
            </div>
    
            <div id="job-content">
                <h5>Jobs Posted</h5>
                {% if job_count > 0 %}
                <table class="table table-striped table-bordered table-light">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Max Price</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{job.title}}</td>
                            <td>{{job.description}}</td>
                            <td>{{job.max_price}}</td>
                            <td>{{job.start_datetime}}</td>
                            <td>{{job.end_datetime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h6>No Jobs Posted Yet - Click <a href="">Here</a> to post one</h6>
                {% endif %}
            </div>

            <div id="bid-content">
                <h5>Bids Placed</h5>
                {% if bid_count > 0 %}
                <table class="table table-striped table-bordered table-light">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>Amount Bid</th>
                            <th>Job End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                        <tr>
                            <td>{{bid.title}}</td>
                            <td>{{bid.amount}}</td>
                            <td>{{bid.end_datetime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h6>No Bids Placed Yet - Click <a href="">Here</a> to find job postings</h6>
                {% endif %}
            </div>

        </div>
    </body>
</html>