*{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    
    margin:auto;
    /* padding: 15px; */
    min-height: 700px;
    /* width:90%;
    box-shadow: 4px 4px 25px lightgray;
    border-radius: 20px; */
}
#logo{
    width:100px;
    height: 100px;
}
.category_icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height:25px;
}
.navigation{
    padding: 5px;
    /* position:fixed; */
    width: 100%;
    /* box-shadow: 5px 5px 3px black; */
}

#mid{
    padding: 10px;
    background-color:#fccb4e;
    min-height: 20px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}
.icons{
    width: 25px;
    height: 25px;
}
.search{
    width: 400px;
    border-radius: 10px;    
    height: 30px;
    border:none;
    background-color: #f7f7f7;
    /* box-shadow: 3px 3px 3px black; */
    padding: 15px;
    font-size: 80%;
    display: inline-block;
}
.search:focus{
    outline:none;
    box-shadow: 5px 5px 5px grey;
}
.search:hover{
    box-shadow: 5px 5px 5px darkgrey;
}
.content{
    vertical-align: top;
    padding: 15px;
    margin-bottom:25px;
    margin-left:25px;
    /* margin:auto; */
    box-shadow: 4px 4px 4px gray;
}
.content:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 5px black;
}
.icon1{
    width: 35px;
    height: 35px;
}
.icon2{
    margin-left: 20px;
    width:20px;
    height:20px;
}
#job-content{
    text-align: center;
    border: 1px solid #fccb4e;
    box-shadow: 5px 5px 3px black;
    margin-top: 20px;
}
#bid-content{
    text-align: center;
    border: 1px solid #fccb4e;
    box-shadow: 5px 5px 3px black;
    margin-top: 20px;
}
.head-title{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 50%;
}
.logout{
    display: inline-block;
    vertical-align: top;
}
.left{
    text-align: center;
    width: 25%;
    display:inline-block;
    /* border: 1px solid gray; */
    box-shadow: 2px 2px 2px gray;
    padding: 20px;
    margin-left: 40px;
}
.right{
    padding: 15px;
    /* border: 2px solid gray; */
    margin-left: 30px;
    vertical-align: top;
    display: inline-block;
    width: 55%;
}

#avatar{
    width: 200px;
    height: 200px;
    margin-bottom:20px;
}
#edit{
    width: 20px;
    height: 20px;
    float:right;
}

.post_title{
    background-color:#fccb4e;
}

#newjob{
    margin-left: 875px;
}
/* CSS */
.title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/* endCSS */