*{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    
    margin:auto;
    /* padding: 15px; */
    min-height: 700px;
    /* width:90%;
    box-shadow: 4px 4px 25px lightgray;
    border-radius: 20px; */
}
#logo{
    width:100px;
    height: 100px;
}
.category_icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height:25px;
}
.navigation{
    padding: 5px;
    /* position:fixed; */
    width: 100%;
    /* box-shadow: 5px 5px 3px black; */
}

#mid{
    padding: 10px;
    background-color:#fccb4e;
    min-height: 20px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}
.icons{
    width: 25px;
    height: 25px;
}
.search{
    width: 400px;
    border-radius: 10px;    
    height: 30px;
    border:none;
    background-color: #f7f7f7;
    /* box-shadow: 3px 3px 3px black; */
    padding: 15px;
    font-size: 80%;
    display: inline-block;
}
.search:focus{
    outline:none;
    box-shadow: 5px 5px 5px grey;
}
.search:hover{
    box-shadow: 5px 5px 5px darkgrey;
}
.content{
    vertical-align: top;
    padding: 15px;
    margin-bottom:25px;
    margin-left:25px;
    /* margin:auto; */
    box-shadow: 4px 4px 4px gray;
}
.content:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 5px black;
}
.icon1{
    width: 35px;
    height: 35px;
}
.icon2{
    width:20px;
    height:20px;
}
#location{
    /* text-align: right; */
    float:right;
}
#timeleft{
    margin-left: 50px;
   
}
#creator{
    text-align: right;
    /* float:right; */
}
.description{
    margin-top: 10px;
}
.left{
    box-shadow: 1px 1px 1px gray;
    padding: 10px;
    /* border: 3px solid black; */
    width: 350px;
    vertical-align: top;
    display: inline-block;
    min-height: 700px;
}
.middle{
    /* border: 3px solid black; */
    display: inline-block;
    width: 45%;
}
.right{
    display:inline-block;
    vertical-align: top;
}
.undraw{
    position: absolute;
    vertical-align:top;
    width: 330px;
    height: 250px;
    margin-left: 50px;
    margin-top: 300px;
}

