<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIDDASH - Details</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'details/css/details.css' %}">
    <link rel="icon" type="image/x-icon" href="../../static/users/images/favicon.png">
</head>

<body>
    <div id="container">
        <div class="navigation">
                {% if request.session.logged == True %}

                <div id="top">
                    <a href="/" class="link"><img id="logo" src="{% static 'dashboard/images/logo2.png' %}"></a>
                    <label>Welcome <a href="profile" class="link">{{first_name}} {{last_name}}</a></label>
                    <a href="/newjob" id="newjob" class="link"><img class="icon2"
                            src="{% static 'dashboard/images/add.png' %}">Add
                        New
                        Job</a>
                    <a href="/logout" class="link"><img class="icon2"
                            src="{% static 'users/images/logout.png' %}" />Logout</a>
                </div>
    
                {% else %}
    
                <div id="top">
                    <a href="/" class="link"><img id="logo" src="{% static 'dashboard/images/logo2.png' %}"></a>
                    <label>Welcome to Bid Dash</a></label>
                    <a href="/login" class="link"><img class="icon2"
                            src="{% static 'homepage/images/login.png' %}" />Login</a>
                    <a href="/signup" class="link"><img class="icon2"
                            src="{% static 'homepage/images/padlock.png' %}" />Signup</a>
                </div>
    
                {% endif %}
            <div id="mid">
                <form>
                    <img class="icons" src="{% static 'homepage/images/edit.png' %}">
                    <input type="text" name="category" class="search" placeholder="Enter what you are looking for">
                    <img class="icons" src="{% static 'homepage/images/world.png' %}">
                    <input type="text" name="location" class="search" placeholder="Please enter your location">
                    <input type="submit" class="btn btn-success" value="Search">
                </form>
            </div>
        </div>

        <img class="undraw" src="{% static 'details/images/undraw.png' %}">

        <div class="content">
            <h3>Job: {{job.title}}</h3>
            <div class="job-content">
                <p id="timeleft"><img class="icon2" src="{% static 'dashboard/images/hourglass.png' %}">Bidding
                    Ends: <span>{{job.end_datetime}}</span></p>
                <p id="location"><img class="icon2" src="{% static 'dashboard/images/placeholder.png' %}">{{job.city}} |
                    Location</p>
                <p><img class="icon2" src="{% static 'dashboard/images/money-bag.png' %}">Starting Price:
                    ${{job.max_price}}</p>
                <p><img class="icon2" src="{% static 'dashboard/images/affordable.png' %}">Lowest Bid: ${{lowest_bid}}
                </p>
            </div>
                <div class="description">
                    <h5><img class="icon3" src="{% static 'details/images/document.png' %}">Description:</h5>
                    <p class="text">{{job.description}}</p>
                </div>
                {% if user.id != job.poster_id %}
                <p id="creator">Posted By:<img class="icon2"
                        src="{% static 'dashboard/images/man2.png' %}">{{job.first_name}} {{job.last_name}}</p>
                <form action="/postbid" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="job_id" value="{{job.job_id}}">
                    <input type="hidden" name="poster_id" value="{{job.poster_id}}">
                    <input type="text" name="bid_amt" required><input type="submit" value="BID!" class="btn btn-danger">
                </form>
                {% endif %}
            

            {% if user.id == job.poster_id %}
            <div class="bid-content">
                {% if bids_count > 0 %}
                <table class="table table-striped table-bordered table-light">
                    <thead>
                        <tr>
                            <th>Chosen Bid</th>
                            <th>Amount</th>
                            <th>Bidder Name</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in bids %}
                        <tr>
                            {% if bid.chosen_bid == 1 %}
                            <td>*</td>
                            {% else %}
                            <td><a href="/choosebid/{{job.job_id}}/{{bid.id}}">Choose Bid</a></td>
                            {% endif %}
                            <td>{{bid.amount}}</td>
                            <td>{{bid.first_name}} {{bid.last_name}}</td>
                            <td>{{bid.rating}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h6>No Bids Placed Yet</h6>
                {% endif %}
            </div>
            {% endif %}
        </div>





    </div>
</body>

</html>